@page "/User/Magazines/Edit/{MagazineId}"
@rendermode InteractiveServer

@using Microsoft.AspNetCore.Authorization;

@attribute [Authorize(Roles = "User")]

@using System.Security.Claims;
@using BlazorFE.Models.Scientist
@using BlazorFE.Services;
@using BlazorFE.Enums;
@using System.ComponentModel.DataAnnotations;
@using BlazorFE.Components.Common
@using Helpers

@inject ScientistServices ProfileServices
@inject MagazineServices MagazineServices
@inject RoleServices RoleServices
@inject PaperServices PaperServices
@inject MagazineScoreServices MagazineScoreServices
@inject FileUploadServices FileUploadServices
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject NavigationManager NavigationManager
@inject IJSRuntime JSRuntime
@inject IToastService toastService


<div class="bg-white">
    <div class="justify-content-center">
        <div class="border-right">
            <div class="mb-4">
                @if (scientist != null && magazine != null)
                {
                    <div class="card shadow rounded">
                        <div class="p-3">
                            <form>
                                <div class="mt-2">
                                    <!-- Hàng đầu tiên -->
                                    <div class="auto-cols">
                                        <div>
                                            <label class="labels">Tên bài báo<span class="text-red">*</span></label>
                                            <input disabled="@isReadOnly" type="text" class="form-control" placeholder="Tên bài báo" @bind="@magazine.magazine_name">
                                            @if (showError && string.IsNullOrWhiteSpace(magazine.magazine_name))
                                            {
                                                <span class="text-danger">Vui lòng nhập tên bài báo</span>
                                            }
                                        </div>
                                        <div>
                                            <label class="labels">Tên tạp chí<span class="text-red">*</span></label>
                                            <input disabled="@isReadOnly" type="text" class="form-control" placeholder="Tên tạp chí" @bind="@magazine.journal">
                                            @if (showError && string.IsNullOrWhiteSpace(magazine.journal))
                                            {
                                                <span class="text-danger">Vui lòng nhập tên tạp chí</span>
                                            }
                                        </div>
                                        <div>
                                            <label class="labels">Phạm vi bài báo<span class="text-red">*</span></label>
                                            <select type="text" class="form-control" @bind="@magazine.magazine_scope" @bind:event="oninput" @onchange="UpdateScore" aria-label="Default select example" disabled="@isReadOnly">
                                                <option value="0">Chọn phạm vi</option>
                                                @foreach (var scope in Enum.GetValues<BlazorFE.Enums.Magazine.MagazineScope>())
                                                {
                                                    <option value="@(scope)">
                                                        @Helpers.EnumHelper.GetEnumDisplayName(scope)
                                                    </option>
                                                }
                                            </select>

                                            @if (showError && magazine.magazine_scope == "")
                                            {
                                                <span class="text-danger">Vui lòng chọn phạm vi bài báo.</span>
                                            }
                                        </div>
                                    </div>

                                    <!-- Hàng thứ hai -->
                                    <div class="auto-cols mt-2">
                                        <div>
                                            <label class="labels">Năm công bố<span class="text-red">*</span></label>
                                            <select disabled="@isReadOnly" class="form-control" @bind="magazine.year">
                                                <option value="0" selected>Chọn năm</option>
                                                @for (int year = DateTime.Now.Year; year >= 1900; year--)
                                                {
                                                    <option value="@year">@year</option>
                                                }
                                            </select>
                                            @if (showError && magazine.year == 0)
                                            {
                                                <span class="text-danger">Vui lòng chọn năm công bố.</span>
                                            }
                                        </div>
                                        <div>
                                            <label class="labels">Chỉ số<span class="text-red">*</span></label>
                                            <select type="text" class="form-control" @bind="@magazine.magazine_score_id" aria-label="Default select example" disabled="@isReadOnly">
                                                <option value="">Chọn chỉ số</option>
                                                @foreach (var score in listMagazineScore)
                                                {
                                                    <option value="@score.id">@score.magazine_score_name</option>
                                                }
                                            </select>

                                            @if (showError && magazine.magazine_score_id == "")
                                            {
                                                <span class="text-danger">Vui lòng chọn chỉ số của bài báo.</span>
                                            }
                                        </div>
                                        <div>
                                            <label class="labels">Xếp hạng bài báo</label>
                                            <select type="text" class="form-control" @bind="@magazine.rank" aria-label="Default select example" disabled="@isReadOnly">
                                                <option value="">Chọn xếp hạng</option>
                                                @foreach (var rk in Enum.GetValues<BlazorFE.Enums.Magazine.MagazineRank>())
                                                {
                                                    <option value="@(rk)">
                                                        @Helpers.EnumHelper.GetEnumDisplayName(rk)
                                                    </option>
                                                }
                                            </select>
                                        </div>
                                    </div>

                                    <!-- Hàng thứ ba -->
                                    <div class="auto-cols mt-2">
                                        <div>
                                            <label class="labels">Loại bài báo<span class="text-red">*</span></label>
                                            <select disabled="@isReadOnly" type="text" class="form-control" @bind="@magazine.paper_id">
                                                <option value="">Chọn loại bài báo</option>
                                                @foreach (var item in listPapers)
                                                {
                                                    <option value="@item.id">@item.paper_name</option>
                                                }
                                            </select>
                                            @if (showError && string.IsNullOrWhiteSpace(magazine.paper_id))
                                            {
                                                <span class="text-danger">Vui lòng chọn loại bài báo.</span>
                                            }
                                        </div>
                                    </div>
                                </div>

                                <div class="d-flex gap-1 mt-2">
                                    @if (isUpdate)
                                    {
                                        <div class="text-center">
                                            <button class="btn btn-success" type="submit" @onclick="SaveMagazine" @onclick:preventDefault>Lưu</button>
                                        </div>
                                    } else
                                    {
                                        <div class="text-center">
                                            <button class="btn btn-success" @onclick="ToggleEdit" @onclick:preventDefault disabled="@(scientistMagazine?.status ?? true)">Chỉnh sửa</button>
                                        </div>
                                    }
                                    <div class="text-center">
                                        <button class="btn btn-primary" type="button" @onclick="Reload" disabled="@(scientistMagazine?.status ?? true)">Hủy</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                }
            </div>


            <div class="card shadow my-4 rounded">
                <div class="p-3">
                    <div class="d-flex gap-2 justify-content-between mb-2">
                        <h3 class="">Danh sách thành viên: </h3>
                        <button class="btn btn-outline-primary" @onclick="AddMember" disabled="@(scientistMagazine?.status ?? true)">Thêm thành viên</button>
                    </div>

                    @if(isAddMember || isUpdateMember) {
                        <form class="my-2">
                            <div class="auto-cols">
                                <div>
                                    <label class="labels">Thành viên<span class="text-red">*</span></label>
                                    <AutoComplete @bind-Value="ScientistName"
                                                  TItem="Scientist"
                                                  DataProvider="ScientistsDataProvider"
                                                  PropertyName="profile_name"
                                                  Placeholder="Tên thành viên"
                                                  OnChanged="(Scientist scientist) => OnAutoCompleteChanged(scientist)" />
                                    @if (showError && string.IsNullOrWhiteSpace(ScientistId))
                                    {
                                        <span class="text-danger">Vui lòng chọn thành viên.</span>
                                    }
                                </div>
                                <div>
                                    <label class="labels">Vai trò<span class="text-red">*</span></label>
                                    <select disabled="@memberReadOnly" class="form-control" @bind="roleId">
                                        <option value="" selected>Chọn vai trò</option>
                                        @foreach (var item in roles)
                                        {
                                            <option value="@item.id">@item.role_name</option>
                                        }
                                    </select>
                                    @if (showError && string.IsNullOrWhiteSpace(roleId))
                                    {
                                        <span class="text-danger">Vui lòng chọn vai trò.</span>
                                    }
                                </div>
                                <div>
                                    <label class="labels">Quyền<span class="text-red">*</span></label>
                                    <select disabled="@memberReadOnly" class="form-control" @onchange="OnPermissionChange">
                                        <option value="">Chọn quyền</option>
                                        <option value="false">Chỉnh sửa</option>
                                        <option value="true">Đọc</option>
                                    </select>

                                    @if (showError && SelectedPermission == null)
                                    {
                                        <span class="text-danger">Vui lòng chọn quyền cho thành viên.</span>
                                    }
                                </div>
                            </div>
                            <div class="d-flex gap-1 my-2">
                                <div class="text-center">
                                    <button class="btn btn-primary" type="button" @onclick="Cancel">Hủy</button>
                                </div>
                                <div class="text-center">
                                    <button class="btn btn-success" type="submit" @onclick="SaveMember" @onclick:preventDefault>Lưu</button>
                                </div>
                            </div>
                        </form>
                    }

                    <DataTable Searchable="true">
                        <table class="table table-striped table-hover">
                            <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Tên thành viên</th>
                                    <th scope="col">Vai trò</th>
                                    <th scope="col">Quyền</th>
                                    <th scope="col">Trạng thái</th>
                                    <th scope="col">Thao tác</th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (listScientistMagazines != null && listScientistMagazines.Count > 0)
                                {
                                    int i = 1;
                                    foreach (var item in listScientistMagazines)
                                    {
                                        <tr>
                                            <th scope="row">@i</th>
                                            <td>@item?.Scientist?.profile_name</td>
                                            <td>@item?.Role?.role_name</td>
                                            <td>@(item?.status == true ? "Đọc" : "Chỉnh sửa")</td>
                                            <td>@item?.requestStatus</td>
                                            <td>
                                                <button class="btn btn-info" @onclick="() => UpdateMember(item)" disabled="@(scientistMagazine?.status ?? true)"><div class="bi-pencil-square-custom" style="width: 20px; height: 20px;"></div></button>
                                                <button class="btn btn-danger" @onclick="() => DeleteMagazine(item)" disabled="@(scientistMagazine?.status ?? true)"><div class="bi-trash-custom" style="width: 20px; height: 20px;"></div></button>
                                            </td>
                                        </tr>
                                        i++;
                                    }
                                }
                            </tbody>
                        </table>
                    </DataTable>
                </div>
            </div>

            <div class="card shadow my-4 rounded">
                <div class="p-3">
                    <div class="d-flex gap-2 justify-content-between">
                        <h3 class="">Danh sách tài liệu: </h3>
                        <button class="btn btn-outline-primary" @onclick="ToggleUploadFile" disabled="@(scientistMagazine?.status ?? true)">Thêm tài liệu</button>
                    </div>
                    @if (isUpload)
                    {
                        <UploadFile relatedId="@MagazineId" OnSave="LoadFiles" />
                    }
                    <DataTable Searchable="false">
                        <table class="table table-striped table-hover">
                            <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Tên tài liệu</th>
                                    <th scope="col">Loại tài liệu</th>
                                    <th scope="col">Thao tác</th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (listFiles != null && listFiles.Count > 0)
                                {
                                    int i = 1;
                                    foreach (var item in listFiles)
                                    {
                                        <tr>
                                            <th scope="row">@i</th>
                                            <td>@item.original_name</td>
                                            <td>@item.file_type</td>
                                            <td>
                                                <button class="btn btn-success" @onclick="() => DownloadFile(item)"><div class="bi-download-custom" style="width: 20px; height: 20px;"></div></button>
                                                <button class="btn btn-danger" disabled="@(scientistMagazine?.status ?? true)" @onclick="() => DeleteFile(item.id)"><div class="bi-trash-custom" style="width: 20px; height: 20px;"></div></button>
                                            </td>
                                        </tr>
                                        i++;
                                    }
                                }
                            </tbody>
                        </table>
                    </DataTable>
                </div>
            </div>
        </div>
    </div>
</div>

<style>
    .auto-cols {
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 16px;
    justify-content: space-between;
    }

    .auto-cols > div {
    flex: 1;
    min-width: 200px;
    }

    .d-flex {
    display: flex;
    flex-direction: row;
    justify-content: right;
    }

    .text-red {
    color: red;
    }
</style>

@code {
    [Parameter]
    public string MagazineId { get; set; }

    private bool isReadOnly = true;
    private bool memberReadOnly = true;
    private bool isAddMember = false;
    private bool isUpdateMember = false;
    private bool isUpload = false;
    private bool isUpdate = false;
    private bool showError = false;
    private string ScientistId { get; set; } = "";
    private string ScientistName { get; set; } = "";
    private string userName = "";
    private string userid = "";
    private string roleId = "";
    private bool? SelectedPermission { get; set; }
    private List<Models.Category.Role> roles { get; set; } = new();
    private List<Models.Category.Paper> listPapers { get; set; } = new();
    private List<Models.Category.MagazineScore> AlllistMagazineScore { get; set; } = new();
    private List<Models.Category.MagazineScore> listMagazineScore { get; set; } = new();
    private Scientist scientist { get; set; } = new();
    private Models.Magazine.Magazines magazine { get; set; } = new();
    private ScientistMagazineRole scientistMagazine { get; set; } = new();
    private List<ScientistMagazineRole> listScientistMagazines { get; set; } = new();
    private List<string> ListMagazineIds { get; set; } = new();
    private List<string> ListScientistIds { get; set; } = new();
    private List<Scientist> scientists { get; set; } = new();
    private List<Models.File.File> listFiles { get; set; } = new();

    private void AddMember()
    {
        isAddMember = true;
        memberReadOnly = false;
    }

    private void ToggleUploadFile()
    {
        isUpload = !isUpload;
    }

    private void ToggleEdit()
    {
        isReadOnly = false;
        isUpdate = true;
    }

    private async Task SaveMagazine()
    {
        await UpdateMagazine();
    }

    private void UpdateMember(ScientistMagazineRole editScientist)
    {
        isUpdateMember = true;
        memberReadOnly = false;
        ScientistId = editScientist.scientist_id;
        ScientistName = editScientist.Scientist.profile_name;
        roleId = editScientist.role_id;
        SelectedPermission = editScientist.status;
    }

    private async Task SaveMember()
    {
        if (isUpdateMember)
        {
            await UpdateMemberMagazine();
        } else
        {
            await CreateNewRequest();
        }
    }

    private void Cancel()
    {
        isAddMember = false;
        isUpdateMember = false;
        memberReadOnly = true;
        ScientistId = "";
        ScientistName = "";
        roleId = "";
    }

    private async Task LoadFiles()
    {
        isUpload = false;
        listFiles = await FileUploadServices.GetFilesByRelatedIdAsync(MagazineId);
        NavigationManager.NavigateTo(NavigationManager.Uri, forceLoad: true);
    }

    private void Reload()
    {
        NavigationManager.NavigateTo(NavigationManager.Uri, forceLoad: true);
    }

    private void OnPermissionChange(ChangeEventArgs e)
    {
        if (bool.TryParse(e.Value?.ToString(), out bool result))
        {
            SelectedPermission = result;
        }
        else
        {
            SelectedPermission = null;
        }
    }

    private void OnAutoCompleteChanged(Scientist selectedScientist)
    {
        if (selectedScientist != null)
        {
            ScientistName = selectedScientist.profile_name;
            ScientistId = selectedScientist.id;
        }
    }

    private async Task<AutoCompleteDataProviderResult<Scientist>> ScientistsDataProvider(AutoCompleteDataProviderRequest<Scientist> request)
    {
        if (scientists.Count == 0)
            scientists = await LoadScientists().ConfigureAwait(false);

        return await Task.FromResult(request.ApplyTo(scientists.OrderBy(customer => customer.profile_name)));
    }


    private async Task<List<Scientist>> LoadScientists()
    {
        var listScientist = await ProfileServices.GetAllScientistIdAsync();
        ListScientistIds = listScientistMagazines.Select(x => x.scientist_id).ToList();

        return listScientist
            .Where(scientist => !ListScientistIds.Contains(scientist.id))
            .ToList();
    }

    protected override async Task OnInitializedAsync()
    {
        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        var principal = authState.User;
        if (principal.Identity?.IsAuthenticated == true)
        {
            userid = principal.FindFirst(ClaimTypes.NameIdentifier)?.Value.ToString();
            userName = principal.Identity.Name;

            if (userid != null && userName != null)
            {
                var response = await ProfileServices.GetProfileAsync(userid);
                if (response != null)
                {
                    scientist = response;
                    magazine = await MagazineServices.GetMagazineByIdAsync(MagazineId);

                    scientistMagazine = await MagazineServices.GetMagazineByScientistIdAsync(MagazineId, scientist.id);

                    if(scientistMagazine != null)
                    {
                        listScientistMagazines = await MagazineServices.GetListScientistByMagazineIdAsync(MagazineId);
                        listPapers = await PaperServices.GetListPaper();
                        AlllistMagazineScore = await MagazineScoreServices.GetListMagazineScore();
                        listFiles = await FileUploadServices.GetFilesByRelatedIdAsync(MagazineId);
                        if (AlllistMagazineScore.Count > 0)
                        {
                            listMagazineScore = AlllistMagazineScore;
                        }
                        roles = await RoleServices.GetListRole(RoleType.magazine.ToString());
                    }
                    else
                    {
                        NavigationManager.NavigateTo("/User/Magazines");
                    }
                }
            }
            else
            {
                NavigationManager.NavigateTo("Account/Login");
            }
        }
        else
        {
            NavigationManager.NavigateTo("Account/Login");
        }
    }

    private async Task CreateNewRequest()
    {
        try
        {
            if (magazine == null || string.IsNullOrWhiteSpace(magazine.magazine_name))
            {
                showError = true;
                return;
            }

            showError = false;

            if (string.IsNullOrEmpty(ScientistId) || string.IsNullOrEmpty(roleId))
            {
                throw new InvalidOperationException("Scientist or role information is missing.");
            }

            var result = await MagazineServices.AddMagazineAndLinkToScientistAsync(magazine, ScientistId, roleId, true, SelectedPermission);
            if (result)
            {
                toastService.ShowSuccess("Thêm thành viên thành công!");
                await Task.Delay(3000);
                Reload();
            }
            else
            {
                toastService.ShowError("Thêm thành viên không thành công!");
            }

            isReadOnly = true;
            isAddMember = false;
        }
        catch (Exception ex)
        {
            Console.Error.WriteLine($"An error occurred: {ex.Message}");
        }
    }

    private async Task UpdateMagazine()
    {
        try
        {
            if (magazine == null || string.IsNullOrWhiteSpace(magazine.magazine_name))
            {
                showError = true;
                return;
            }

            showError = false;

            if (scientist == null || string.IsNullOrEmpty(scientist.id))
            {
                throw new InvalidOperationException("Scientist information is missing.");
            }

            var result = await MagazineServices.UpdateMagazineAndLinkToScientistAsync(MagazineId, magazine, scientist.id, scientistMagazine.role_id, null, false);
            if (result)
            {
                toastService.ShowSuccess("Chỉnh sửa thông tin bài báo thành công!");
                magazine = await MagazineServices.GetMagazineByIdAsync(MagazineId);
            } else
            {
                toastService.ShowError("Chỉnh sửa thông tin bài báo không thành công!");
            }

            isReadOnly = true;
        }
        catch (Exception ex)
        {
            Console.Error.WriteLine($"An error occurred: {ex.Message}");
        }
    }

    private async Task UpdateMemberMagazine()
    {
        try
        {
            showError = true;

            var result = await MagazineServices.UpdateMagazineAndLinkToScientistAsync(MagazineId, magazine, ScientistId, roleId, null, SelectedPermission);
            if (result)
            {
                toastService.ShowSuccess("Chỉnh sửa thông tin thành viên thành công!");
                await Task.Delay(3000);
                Reload();
            }
            else
            {
                toastService.ShowError("Chỉnh sửa thông tin thành viên không thành công!");
            }

            isReadOnly = true;
        }
        catch (Exception ex)
        {
            Console.Error.WriteLine($"An error occurred: {ex.Message}");
        }
    }

    private async Task DeleteMagazine(ScientistMagazineRole smr)
    {
        try
        {
            var confirm = await JSRuntime.InvokeAsync<bool>("confirm", new object[] { "Bạn có chắc muốn xóa thành viên này?" });

            if (confirm)
            {
                var result = await MagazineServices.DeleteMagazineAndLinkFromScientistAsync(smr.magazine_id, smr.scientist_id);
                if(result)
                {

                    toastService.ShowSuccess("Xóa thành viên thành công!");
                    await Task.Delay(3000);

                    Reload();
                }
            }
        }
        catch (Exception ex)
        {
            Console.Error.WriteLine($"An error occurred while deleting: {ex.Message}");
        }
    }

    private void UpdateScore(ChangeEventArgs e)
    {
        var selectedScope = e.Value?.ToString();
        var selectedScore = AlllistMagazineScore?.Where(m => m.scope == selectedScope).ToList();
        if (selectedScore != null)
        {
            listMagazineScore = selectedScore;
        }
    }

    private async Task DownloadFile(Models.File.File file)
    {
        if (file != null)
        {
            var fileName = file.original_name;
            var fileType = file.file_type;
            var fileContent = file.file_content;

            var base64Data = Convert.ToBase64String(fileContent);
            var fileUrl = $"data:{fileType};base64,{base64Data}";

            await JSRuntime.InvokeVoidAsync("downloadFile", fileUrl, fileName);
        }
    }


    private async Task DeleteFile(string fileId)
    {
        var confirmDelete = await JSRuntime.InvokeAsync<bool>("confirm", "Bạn có chắc chắn muốn xóa tệp này?");
        if (confirmDelete)
        {
            var isDeleted = await FileUploadServices.DeleteFileAsync(fileId);
            if (isDeleted)
            {
                toastService.ShowSuccess("Xoá tệp thành công!");
                await Task.Delay(3000);
                await LoadFiles();
            }
            else
            {
                toastService.ShowError("Xóa tệp không thành công!");
            }
        }
    }

}
