@page "/Projects"

@inject HttpClient Http
@using Models.Project;


<h1 class="text-center mb-3">List of Projects</h1>
@if (projects == null)
{
    <p><em>Loading ...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Description</th>
                <th>Budget</th>
                <th>Duration</th>
                <th>Status</th>
                <th>Start Date</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var project in projects)
            {
                <tr>
                    <td>@project.ProjectId</td>
                    <td>@project.Title</td>
                    <td>@project.Description</td>
                    <td>@project.Budget</td>
                    <td>@project.Duration</td>
                    <td>@project.Status</td>
                    <td>@project.StartDate.ToShortDateString()</td>
                    <td style="white-space:nowrap">
                        <a class="btn btn-primary btn-sm" href="/Projects/Edit/@project.ProjectId">Edit</a>
                        <a class="btn btn-danger btn-sm" href="/Projects/Delete/@project.ProjectId">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private List<Project>? projects;

    protected override async Task OnInitializedAsync()
    {
        projects = await Http.GetFromJsonAsync<List<Project>>("http://localhost:5160/api/Projects");
    }
}
