<form>
    <div class="mt-2">
        <!-- Hàng đầu tiên -->
        <div class="auto-cols">
            <div>
                <label class="labels">Họ và Tên<span class="text-red">*</span></label>
                <input readonly="@isReadOnly" type="text" class="form-control" placeholder="Họ và tên" @bind="@scientist.profile_name">
            </div>
            <div>
                <label class="labels">Ngày sinh<span class="text-red">*</span></label>
                <input readonly="@isReadOnly" type="date" class="form-control" @bind="@scientist.birthday">
            </div>
            <div>
                <label class="labels">Giới tính<span class="text-red">*</span></label>
                <select disabled="@isReadOnly" type="text" class="form-control" @bind="@scientist.gender">
                    <option value="">Chọn giới tính</option>
                    <option value="Nam">Nam</option>
                    <option value="Nữ">Nữ</option>
                    <option value="Khác">Khác</option>
                </select>
            </div>
        </div>

        <!-- Hàng thứ hai -->
        <div class="auto-cols mt-2">
            <div>
                <label class="labels">Nơi sinh<span class="text-red">*</span></label>
                <input readonly="@isReadOnly" type="text" class="form-control" @bind="@scientist.birth_place">
            </div>
            <div>
                <label class="labels">Địa chỉ liên lạc</label>
                <input readonly="@isReadOnly" type="text" class="form-control" @bind="@scientist.address">
            </div>
        </div>

        <!-- Hàng thứ ba -->
        <div class="auto-cols mt-2">
            <div>
                <label class="labels">Điện thoại di động<span class="text-red">*</span></label>
                <input readonly="@isReadOnly" type="number" class="form-control" placeholder="Điện thoại di động" @bind="@scientist.phone">
            </div>
            <div>
                <label class="labels">Điện thoại nhà riêng</label>
                <input readonly="@isReadOnly" type="number" class="form-control" placeholder="Điện thoại nhà riêng" @bind="@scientist.house_phone">
            </div>
            <div>
                <label class="labels">Điện thoại cơ quan</label>
                <input readonly="@isReadOnly" type="number" class="form-control" placeholder="Điện thoại cơ quan" @bind="@scientist.office_phone">
            </div>
            <div>
                <label class="labels">Email<span class="text-red">*</span></label>
                <input readonly="true" type="email" class="form-control" placeholder="Email" @bind="@scientist.email">
            </div>
        </div>

        <!-- Hàng thứ tư -->
        <div class="auto-cols mt-2">
            <div>
                <label class="labels">Học vị<span class="text-red">*</span></label>
                <select class="form-control" @bind="@scientist.degree_id" disabled="@isReadOnly">
                    <option value="">Chọn học vị</option>
                    @if (ListDegrees != null)
                    {
                        @foreach (var degree in ListDegrees)
                        {
                            <option value="@degree.id">@degree.degree_name</option>
                        }
                    }
                </select>
            </div>
            <div>
                <label class="labels">Năm phong</label>
                <select disabled="@isReadOnly" class="form-control" @bind="@scientist.nvestiture">
                    <option value="0" selected>Chọn năm</option>
                    @for (int year = DateTime.Now.Year; year >= 1900; year--)
                    {
                        <option value="@year">@year</option>
                    }
                </select>
            </div>
            <div>
                <label class="labels">Chức danh khoa học</label>
                <input readonly="@isReadOnly" type="text" class="form-control" placeholder="Chức danh khoa học" @bind="@scientist.scientific_title">
            </div>
        </div>

        <!-- Hàng thứ năm -->
        <div class="auto-cols mt-2">
            <div>
                <label class="labels">Chức danh nghiên cứu</label>
                <input readonly="@isReadOnly" type="text" class="form-control" placeholder="Chức danh nghiên cứu" @bind="@scientist.research_title">
            </div>
            <div>
                <label class="labels">Chức vụ nghiên cứu</label>
                <input readonly="@isReadOnly" type="text" class="form-control" placeholder="Chức vụ nghiên cứu" @bind="@scientist.research_position">
            </div>
            <div>
                <label class="labels">Tên tổ chức<span class="text-red">*</span></label>
                <select class="form-control" @bind="@scientist.office_id" @bind:event="oninput" disabled="@isReadOnly">
                    <option value="">Chọn tổ chức</option>
                    @if (Offices != null)
                    {
                        @foreach (var office in Offices)
                        {
                            <option value="@office.id">@office.office_name</option>
                        }
                    }
                </select>
            </div>
        </div>

        <div>
            <label class="labels">Địa chỉ tổ chức<span class="text-red">*</span></label>
            <input readonly="true" type="text" class="form-control" placeholder="Địa chỉ tổ chức" @bind="@scientist.address_office">
        </div>
    </div>
</form>

<style>
    .auto-cols {
        display: flex;
        flex-direction: row;
        width: 100%;
        gap: 16px;
        justify-content: space-between;
    }

        .auto-cols > div {
            flex: 1;
            min-width: 200px;
        }

    .d-flex {
        display: flex;
        flex-direction: row;
        justify-content: right;
    }

    .text-red {
        color: red;
    }
</style>

@code {
    [Parameter] public Models.Scientist.Scientist scientist { get; set; }
    [Parameter] public List<Models.Category.Office> Offices { get; set; }
    [Parameter] public List<Models.Category.Degree> ListDegrees { get; set; }
    private bool isReadOnly { get; set; } = true;
}
