@using Helpers
@using BlazorFE.Enums

<form>
    <div class="d-flex flex-column gap-3">
        <!-- Hàng đầu tiên -->
        <div class="auto-cols mb-2">
            <div>
                <label class="labels">Mã đề tài<span class="text-red">*</span></label>
                <input readonly="@IsReadOnly" type="text" class="form-control" placeholder="Mã đề tài" @bind="@Topics.topicId">
                @if (ShowError && string.IsNullOrWhiteSpace(Topics.topicId))
                {
                    <span class="text-danger">Vui lòng nhập mã đề tài</span>
                }
            </div>
            <div>
                <label class="labels">Tên đề tài<span class="text-red">*</span></label>
                <input readonly="@IsReadOnly" type="text" class="form-control" placeholder="Tên đề tài" @bind="@Topics.topic_name">
                @if (ShowError && string.IsNullOrWhiteSpace(Topics.topic_name))
                {
                    <span class="text-danger">Vui lòng nhập tên đề tài</span>
                }
            </div>
            <div>
                <label class="labels">Cấp độ đề tài<span class="text-red">*</span></label>
                <select disabled="@IsReadOnly" type="text" class="form-control" @bind="@Topics.lvtopic_id">
                    <option value="" class="text-gray">Chọn cấp độ đề tài</option>
                    @foreach (var item in LvTopics)
                    {
                        <option value="@item.id">@item.lvtopic_name</option>
                    }
                </select>
                @if (ShowError && string.IsNullOrWhiteSpace(Topics.lvtopic_id))
                {
                    <span class="text-danger">Vui lòng chọn cấp độ đề tài.</span>
                }
            </div>
        </div>

        <div class="auto-cols">
            <div>
                <label class="labels">Vai trò<span class="text-red">*</span></label>
                <select disabled="@IsReadOnly" type="text" class="form-control" @onchange="HandleRoleChange">
                    <option value="">Chọn vai trò</option>
                    @foreach (var item in roles)
                    {
                        <option value="@item.id">@item.role_name</option>
                    }
                </select>
                @if (ShowError && string.IsNullOrWhiteSpace(roleId))
                {
                    <span class="text-danger">Vui lòng chọn vai tró.</span>
                }
            </div>
            <div>
                <label class="labels">Kết quả đánh giá<span class="text-red">*</span></label>
                <select type="text" class="form-control" @bind="Topics.result" aria-label="Default select example">
                    <option value="0">Chọn kết quả</option>
                    @foreach (var option in Enum.GetValues<Result>())
                    {
                        <option value="@(option)">
                            @Helpers.EnumHelper.GetEnumDisplayName(option)
                        </option>
                    }
                </select>

                @if (ShowError && Topics.result == "")
                {
                    <span class="text-danger">Vui lòng chọn kết quả.</span>
                }
            </div>
        </div>

        <div class="auto-cols">
            <div>
                <label class="labels">Ngày bắt đầu</label>
                <input readonly="@IsReadOnly" type="date" class="form-control" @bind="@Topics.start_date">
            </div>
            <div>
                <label class="labels">Ngày kết thúc</label>
                <input readonly="@IsReadOnly" type="date" class="form-control" @bind="@Topics.end_date">
            </div>
        </div>
    </div>
    <div class="d-flex gap-1">
        <div class="mt-4 text-center">
            <button class="btn btn-primary" type="button" @onclick="OnCancel">Hủy</button>
        </div>
        <div class="mt-4 text-center">
            <button class="btn btn-success" type="submit" @onclick="OnSave" @onclick:preventDefault>Lưu</button>
        </div>
    </div>
</form>

@code {
    [Parameter] public Models.Topic.Topics Topics { get; set; }
    [Parameter] public bool IsReadOnly { get; set; }
    [Parameter] public bool ShowError { get; set; }
    [Parameter] public List<Models.Category.LvTopics> LvTopics { get; set; }
    [Parameter] public string roleId { get; set; }
    [Parameter] public List<Models.Category.Role> roles { get; set; }
    [Parameter] public EventCallback OnCancel { get; set; }
    [Parameter] public EventCallback OnSave { get; set; }
    [Parameter] public EventCallback<string> roleIdChanged { get; set; }

    private async Task HandleRoleChange(ChangeEventArgs e)
    {
        roleId = e.Value?.ToString();
        Console.WriteLine($"roleId: {roleId}");
        await roleIdChanged.InvokeAsync(roleId); // <-- Gửi giá trị lên parent
    }
}
